
/* Common styling sheet for all the Components . Contains util classes as well*/
@keyframes disco {
    0%   { background-color: blue; }
     49% { background-color: red; }
     50% { background-color: yellow; }
     99% { background-color: red; }
     100% { background-color: blue; }
   }
.container-div {
    display: flex;
    align-items : center;
    justify-content: center;    
    width: 100vw;
    height: 100vh;
    animation: disco 4s infinite;
}

.card {
    /* width: 600px; */
    max-height: 80vh;
    overflow-y: scroll !important; 
    border: 2px solid black;
}

.font-robot-mono {
    font-family: 'Roboto Mono', monospace;
    font-weight: bold;
}

.font-p2play {
    font-family: 'Press Start 2P', cursive;
}
.card::-webkit-scrollbar { 
    display: none; 
} 

.header {
    position: sticky;
    top: 0px;
    background: #F7F7F7;

}

.enable-script-prompt {
    width: 500px;
    margin-top: 50px;
    padding: 20px;
}

.flex-universal-align{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.green{
    color: green !important;
}
.red{
    color: red !important;
}

.hidden {
    display: none !important;
}

.visible {
    display: block !important;
}